<a href="https://colab.research.google.com/github/otoperalias/Coyuntura/blob/main/Tema2_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tema 2.2

##  Explorando BDSICE: Base de datos de Series de Indicadores de Coyuntura Económica

El Ministerio de Economía mantiene una base de datos con series de coyuntura económica, fundamentalmente española. En total en esta base están disponibles unas 14.500 series sobre distintos aspectos de la economía española.

  * Accesible aquí: [BDSICE](https://serviciosede.mineco.gob.es/Indeco/BDSICE/HomeBDSICE.aspx)

### 1. Importación de librerías a usar

In [ ]:
# Importamos librerias y establecemos algunas opciones
import pandas as pd
import matplotlib.pyplot as plt

* Dentro de la página de [BDSICE](https://serviciosede.mineco.gob.es/Indeco/BDSICE/HomeBDSICE.aspx), hacemos clic en "Consulta y descarga de series".  
* Procedemos a descargar la tasa de paro por nivel de estudios. Para eso, hacemos click en "1 Mercado Laboral", luego en "14 Parados EPA" y entonces seleccionamos las series:

| Disponibilidad | Código serie | Nombre de serie |
| ---------------| ------------ | ----------------|
| 01/2002 - 02/2023 |	 143035 | 	TASA DE PARO. NIVEL DE ESTUDIOS: SUPERIORES |
|01/2002 - 02/2023	| 143036 	| TASA DE PARO. NIVEL DE ESTUDIOS: ANALFABETOS Y PRIMARIOS|
|01/2002 - 02/2023|	 143037 	|TASA DE PARO. NIVEL DE ESTUDIOS: SECUNDARIOS|

* Posteriormente, clicamos en descargar, con formato Excel.
* Como ya sabemos algo de Python y, además, vamos a repetir varias veces el proceso de importación de datos, el procesamiento de los datos de la descarga lo vamos a hacer en Python en lugar de en Excel.
* No obstante, antes de subir los datos a Google Colab, hay que abrir el archivo que hemos descargado y guardarlo como archivo Excel (por defecto, se guarda como csv).

In [ ]:
# 1. Importar datos (recordad primero subir los datos a Google Colab)
data=pd.read_excel("/content/DescargaSeries_202310030909.xlsx")
data

In [ ]:
# 2. Eliminamos la primera fila
data.drop(0, inplace=True)
data

In [ ]:
# 3. Preparamos la columna con la fecha (trimestre)

# 3.1. Primero convierto los datos en string
data['trim']=data['SERIES'].astype('str')

# 3.2. Extraemos los 4 primeros dígitos, añadimos una Q y añadimos el último dígito
data['trim']=data['trim'].str[:4]+"Q"+data['trim'].str[-1:]
data

In [ ]:
# 4. Convertimos la columna en datatime, para que Python la interprete como fecha
data['trim']=pd.to_datetime(data['trim'])
data

In [ ]:
# 5. Ahora se establece la columna trim como index de la tabla
data.set_index("trim", inplace=True)
data

In [ ]:
# 6. Renombramos las columnas
data.rename(columns={
    "TASA DE PARO. NIVEL DE ESTUDIOS: SUPERIORES":"tp_sup",
    "TASA DE PARO. NIVEL DE ESTUDIOS: ANALFABETOS Y PRIMARIOS":"tp_pri",
    "TASA DE PARO. NIVEL DE ESTUDIOS: SECUNDARIOS":"tp_sec"}, inplace=True)
data

In [ ]:
# 7. Borramos las columnas innecesarias
data.drop(columns="SERIES", inplace=True)
data

### 2. Visualización de los datos

In [ ]:
data.plot(title="Tasa de paro en España por nivel de estudios")
plt.show()

### 3. Tasas de paro por grupo de edad

Para calcular las tasas de paro por grupo de edad, necesitamos descargar las siguientes series:  
* **Poblacion (EPA)**:
  * ACTIVOS. TOTAL
  * ACTIVOS DE 16 A 24 AÑOS. TOTAL
  * ACTIVOS DE 25 A 54 AÑOS. TOTAL
  * ACTIVOS DE 55 AÑOS Y MAS. TOTAL
* **Parados (EPA)**:
  * PARADOS. TOTAL
  * PARADOS DE 16 A 24 AÑOS. TOTAL
  * PARADOS DE 25 A 54 AÑOS. TOTAL
  * PARADOS DE 55 AÑOS Y MÁS. TOTAL

### 4. Indicador de confianza del consumidor

El último ejercicio de este notebook es representar gráficamente la evolución del Indicador de Confianza del Consumidor:  

339000 |	ICC- INDICADOR DE CONFIANZA DEL CONSUMIDOR  

Está en la sección *3 Encuestas de Opinión* > *33 Indicadores de confianza del consumidor (CE y CIS)*

En este caso se trata de una serie mensual, la cual debe tener el siguiente formato para poder ser interpretada por ```Python``` como fecha: XXXX-XX (los cuatro dígitos del año seguido de guión y los dos dígitos del mes correspondiente)