<a href="https://colab.research.google.com/github/otoperalias/Coyuntura/blob/main/clases/Tema2_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tema 2.2

##  Explorando BDSICE: Base de datos de Series de Indicadores de Coyuntura Económica

El Ministerio de Economía mantiene una base de datos con series de coyuntura económica, fundamentalmente española. En total en esta base están disponibles unas 14.500 series sobre distintos aspectos de la economía española.

  * Accesible aquí: [BDSICE](https://serviciosede.mineco.gob.es/Indeco/BDSICE/HomeBDSICE.aspx)

### 1. Importación de librerías a usar

In [1]:
# Importamos librerias y establecemos algunas opciones
import pandas as pd
pd.set_option('display.max_row', 100)
pd.set_option('display.max_columns', 30)
import matplotlib.pyplot as plt

### 1. Importación de series económicas

* Dentro de la página de [BDSICE](https://serviciosede.mineco.gob.es/Indeco/BDSICE/HomeBDSICE.aspx), hacemos clic en "Consulta y descarga de series".  
* Procedemos a descargar la tasa de paro por nivel de estudios. Para eso, hacemos click en "1 Mercado Laboral", luego en "14 Parados EPA" y entonces seleccionamos las series:

| Disponibilidad | Código serie | Nombre de serie |
| ---------------| ------------ | ----------------|
| 01/2002 - 02/2023 |	 143035 | 	TASA DE PARO. NIVEL DE ESTUDIOS: SUPERIORES |
|01/2002 - 02/2023	| 143036 	| TASA DE PARO. NIVEL DE ESTUDIOS: ANALFABETOS Y PRIMARIOS|
|01/2002 - 02/2023|	 143037 	|TASA DE PARO. NIVEL DE ESTUDIOS: SECUNDARIOS|

* Posteriormente, clicamos en descargar, con formato Excel.
* Como ya sabemos algo de Python y, además, vamos a repetir varias veces el proceso de importación de datos, el procesamiento de los datos de la descarga lo vamos a hacer en Python en lugar de en Excel.
* No obstante, antes de subir los datos a Google Colab, hay que abrir el archivo que hemos descargado y guardarlo como archivo Excel (por defecto, se guarda como csv).

In [ ]:
# 1. Importar datos (recordad primero subir los datos a Google Colab)
data=pd.read_excel("DescargaSeries_202309290418.xlsx")
data

In [ ]:
# 2. Eliminamos la primera fila
data=data.iloc[1:] # seleccionamos de la fila 2 (que tiene index=1) en adelante
data

In [ ]:
# 3. Preparamos la columna con la fecha (trimestre)

# 3.1. Primero convierto los datos en string
data['trim']=data['SERIES'].astype('str')

# 3.2. Extraemos los 4 primeros dígitos, añadimos una Q y añadimos el último dígito
data['trim']=data['SERIES'].str[:4]+"Q"+data['SERIES'].str[-1:]
data

In [ ]:
# 4. Convertimos la columna en datatime, para que Python la interprete como fecha
data['trim']=pd.to_datetime(data['trim'])
data

In [ ]:
# 5. Ahora se establece la columna trim como index de la tabla
data.set_index("trim", inplace=True)
data

In [ ]:
# 6. Renombramos las columnas
data.rename(columns={})

In [36]:
data

,SERIES,TASA DE PARO. NIVEL DE ESTUDIOS: SUPERIORES,TASA DE PARO. NIVEL DE ESTUDIOS: ANALFABETOS Y PRIMARIOS,TASA DE PARO. NIVEL DE ESTUDIOS: SECUNDARIOS
trim,,,,
2002-04-01,20022,8.692061,11.851698,12.280123
2002-07-01,20023,9.151384,12.517172,12.394699
2002-10-01,20024,9.204623,12.643300,12.573174
2003-01-01,20031,9.350196,13.072084,13.079940
2003-04-01,20032,8.236657,12.204705,12.665757
2003-07-01,20033,9.081382,12.633452,12.039783
2003-10-01,20034,8.921355,12.834886,12.223513
2004-01-01,20041,8.902887,12.713043,12.587944
2004-04-01,20042,8.269400,12.668173,12.170771
2004-07-01,20043,8.054058,12.888633,11.521388
2004-10-01,20044,7.979113,12.066864,11.485404
2005-01-01,20051,7.341227,11.758423,11.336813
2005-04-01,20052,6.591787,10.921020,10.456716
2005-07-01,20053,6.513342,10.323443,8.967933
2005-10-01,20054,6.482453,10.349980,9.569539
2006-01-01,20061,6.612740,10.915743,9.936688
2006-04-01,20062,5.847348,10.424362,9.393822
2006-07-01,20063,5.785351,9.496624,9.038261
2006-10-01,20064,5.719378,10.269992,9.206628
2007-01-01,20071,5.555791,10.702820,9.480978
2007-04-01,20072,5.052743,10.801945,8.845043
2007-07-01,20073,5.109278,10.590987,9.017021
2007-10-01,20074,5.289662,11.916089,9.608234
2008-01-01,20081,5.669345,14.304762,10.560897
2008-04-01,20082,5.743490,15.772210,11.564212
2008-07-01,20083,6.507607,17.163369,12.381330
2008-10-01,20084,7.282328,20.782281,15.696149
2009-01-01,20091,9.123346,25.177186,19.885909
2009-04-01,20092,9.357270,25.882517,20.571157
2009-07-01,20093,9.986021,26.342645,20.117733
2009-10-01,20094,10.128601,28.521608,21.252957
2010-01-01,20101,11.180856,29.842449,22.511411
2010-04-01,20102,10.795462,30.578151,22.687311
2010-07-01,20103,11.222559,29.803422,22.177688
2010-10-01,20104,11.409668,30.356490,23.001706
2011-01-01,20111,12.225694,31.208370,24.249749
2011-04-01,20112,11.725025,31.693346,23.619375
2011-07-01,20113,12.700915,32.698224,24.134746
2011-10-01,20114,13.270929,34.711357,25.752544
2012-01-01,20121,14.061274,36.786193,27.898987
2012-04-01,20122,14.445106,37.738353,27.922151
2012-07-01,20123,15.029161,38.383946,28.201903
2012-10-01,20124,15.978077,39.336580,29.445510
2013-01-01,20131,16.624197,41.511468,30.768227
2013-04-01,20132,15.777345,39.928541,30.144077
2013-07-01,20133,15.737705,40.306796,29.430937
2013-10-01,20134,15.788353,39.376311,29.828843
2014-01-01,20141,15.770760,40.140850,30.338630
2014-04-01,20142,14.475300,39.868920,28.612770
2014-07-01,20143,14.463430,40.283620,27.240360
2014-10-01,20144,14.285220,39.918310,27.610120
2015-01-01,20151,14.028870,39.791070,27.917830
2015-04-01,20152,13.287970,37.990880,26.129770
2015-07-01,20153,13.005870,36.880510,24.387810
2015-10-01,20154,12.446280,35.978620,24.508210
2016-01-01,20161,12.171970,36.792400,24.794020
2016-04-01,20162,11.608380,34.743920,23.679770
2016-07-01,20163,11.552360,34.629320,21.864420
2016-10-01,20164,11.359910,33.225950,21.747220
2017-01-01,20171,10.892460,33.092090,22.333130
2017-04-01,20172,9.707990,30.991160,20.700730
2017-07-01,20173,9.786010,31.178300,19.219480
2017-10-01,20174,9.487410,30.184140,19.899910
2018-01-01,20181,9.324200,30.790490,20.296840
2018-04-01,20182,8.670310,29.221340,18.333330
2018-07-01,20183,8.790690,27.966430,17.182640
2018-10-01,20184,8.864610,26.973340,17.151334
2019-01-01,20191,8.801538,27.083611,17.714219
2019-04-01,20192,8.226322,27.249778,16.920748
2019-07-01,20193,8.812072,26.856185,16.421781
2019-10-01,20194,8.613591,26.451389,16.399742
2020-01-01,20201,8.982210,27.129092,17.281264
2020-04-01,20202,10.029000,27.232036,18.495913
2020-07-01,20203,11.142265,30.452222,18.997353
2020-10-01,20204,10.710970,29.744511,19.180886
2021-01-01,20211,10.172095,27.496927,19.736144
2021-04-01,20212,9.515893,26.862918,18.895617
2021-07-01,20213,9.375370,29.400220,17.374264
2021-10-01,20214,7.813408,26.471072,16.681486
2022-01-01,20221,7.750986,27.790133,17.194233
2022-04-01,20222,7.022491,25.527597,15.754514
2022-07-01,20223,7.783832,26.379154,15.526914
2022-10-01,20224,7.899662,27.172691,15.683546
2023-01-01,20231,7.650000,29.420000,16.320000
2023-04-01,20232,6.640000,24.950000,14.440000

In [ ]:
# Los años
pwt['year'].unique()

In [ ]:
# El número de observaciones (filas en la tabla) por año
pwt['year'].value_counts() # ¡La función value_counts() es muy útil!

In [ ]:
# Dimensiones de la base de datos:
print(pwt.shape) # filas x columnas

(12810, 52)

### 2. Ejercicio
1. Crear una tabla con los datos de España y su población (observar que pop es la columna con los datos de población).
2. Representar gráficamente la evolución de la población en España.
3. Calcular la tasa de variación anual de la población en España y representarlo gráficamente.
4.  Hacer lo mismo que en los tres puntos anteriores pero con Italia.
5. Calcular la media del crecimiento de la población en España e Italia, es decir, calcular la media de la tasa de variación anual durante todo el periodo (1950-2019).  Pista: usar la función ```.mean```
6. Representar gráficamente la evolución de la población en ambos países. Hacer lo mismo con sus tasas de variación.
7. Por otra parte, en relación al crecimiento del PIB, ¿qué país ha crecido más? Usar la variable “rgdpo” (ver la hoja “Legend” del archivo Excel). Representar también gráficamente el crecimiento del PIB de ambos países durante el periodo 1950-2019.

In [ ]:
# 1. Tabla con los datos de España y su población
spain=pwt.query("country=='Spain'")
spain_pop=spain[['year','pop']]
spain_pop.set_index("year", inplace=True)
spain_pop

In [ ]:
# 2 Representar gráficamente la evolución de la población en España.
spain_pop.plot(title="Evolución de la población en España")

In [ ]:
# 3 Calcular la tasa de variación anual de la población en España y representarlo gráficamente.
#spain_pop_tv=spain_pop.diff()/spain_pop.shift()
spain_pop_tv=spain_pop/spain_pop.shift()-1
spain_pop_tv.plot()

In [ ]:
# 4. Creamos tablas para Italia
italy=pwt.query("country=='Italy'")
italy_pop=italy[['year','pop']]
italy_pop.set_index("year", inplace=True)
italy_pop_tv=italy_pop.diff()/italy_pop.shift()

In [ ]:
# Evolución de la población en Italia
italy_pop.plot(title="Evolución de la población en Italia")

In [ ]:
# Tasa de variación de la población en Italia
italy_pop_tv.plot(title="Crecimiento de la población en Italia")

In [ ]:
# 5. Calcular la media del crecimiento de la población en España e Italia
pop_sp_it_tv=spain_pop_tv.merge(italy_pop_tv, on='year')
pop_sp_it_tv.rename(columns={"pop_x":"Spain","pop_y":"Italy"}, inplace=True)
medias_tot=pop_sp_it_tv.mean()
medias_tot.plot.bar()

In [ ]:
# 6. Representar gráficamente la evolución de la población en ambos países
fig,ax=plt.subplots()
ax.plot(spain_pop, label="España")
ax.plot(italy_pop, label="Italia")
ax.legend()
plt.show()

In [ ]:
# Ahora, las tasas de variación
fig,ax=plt.subplots()
ax.plot(spain_pop_tv, label="Spain")
ax.plot(italy_pop_tv, label="Italia")
ax.legend()
plt.show()

In [ ]:
# 7. ¿Qué país ha crecido más en términos de PIB (rgdpo)?
# Representar gráficamente el crecimiento del PIB de ambos países durante el periodo 1950-2019.
spain_pib=pwt.loc[pwt['country']=="Spain",["year","rgdpo"]]
spain_pib.set_index("year", inplace=True)
italy_pib=pwt.loc[pwt['country']=="Italy",["year","rgdpo"]]
italy_pib.set_index("year", inplace=True)
pib=spain_pib.merge(italy_pib, on="year")
pib.rename(columns={"rgdpo_x":"Spain","rgdpo_y":"Italy"}, inplace=True)
pib_tv=pib.diff()/pib.shift()
pib_tv.plot()

In [ ]:
#¿Qué país ha crecido más?
pib_tv.mean().plot.bar()

### Ejercicios adicionales:

1. Analizar para UK, Alemania, Francia, Italia y España cómo ha evolucionado el human capital index ("hc"), el número medio de horas trabajadas ("avh") y el peso del gasto público en el PIB ("csh_g").
Realizar el análisis simplemente a través de la representación gráfica de las series de datos.

2. Crear una función que devuelve el valor medio de un indicador de la tabla Penn World Table para un país determinado y un periodo determinado. Se trata de una función que debe tomar cuatro argumentos: 1) la variable macroeconómica, 2) el país, 3) el año inicial del periodo, 4) el año final del periodo. Como pista, la función puede tener esta estructura:

```python
def valor_medio(indicador, pais, añoinicial, añofinal):
  '''
 Calcula el valor medio de un indicador para un país y periodo concreto. Se da por hecho que la tabla a consultar se denomina pwt
  '''
  consulta=pwt[pwt.country==pais] # Selecciona el país
  consulta=...                    # Selecciona el periodo
  vmedio= ... # Calcula el valor medio
  return vmedio
```